* {
  padding: 0;
  margin: 0;
  border: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button:focus, button:active, input:focus {
  outline: none;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #EFEFEF;
}
@media (max-width: 991.98px) {
  .header {
    background-color: transparent;
  }
}

.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  min-height: 50px;
}
@media (max-width: 991.98px) {
  .header-top__menu {
    position: absolute;
    z-index: 11;
    background-color: #EFEFEF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 26px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
.header-top__menu--active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.header-top__link {
  color: #333;
}
.header-top__link:hover {
  color: #F13C6E;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header-top .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 15px;
  background: transparent;
  z-index: 20;
  top: 15px;
  left: 15px;
}
.header-top .menu-btn span {
  height: 2px;
  width: 100%;
  background-color: #000;
}
@media (max-width: 991.98px) {
  .header-top .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.call {
  min-height: 117px;
}

.call-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px;
}
@media (max-width: 991.98px) {
  .call-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.call-content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.call-content__logo-text {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: #F13C6E;
}
.call-content__search {
  position: relative;
}
.call-content__search-img {
  position: absolute;
  left: 15px;
  top: 10px;
}
.call-content__search-input {
  width: 250px;
  height: 40px;
  padding: 10px 40px;
  border-radius: 40px;
  background-color: #EFEFEF;
  color: #333;
}
.call-content__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 991.98px) {
  .call-content__phone {
    display: block;
    text-align: center;
  }
}
.call-content__phone-number {
  font-size: 16px;
  color: #000;
}
@media (max-width: 991.98px) {
  .call-content__phone-number {
    margin-bottom: 20px;
  }
}
.call-content .content__button {
  padding: 13px 26px;
  border-radius: 40px;
}
.call-content .content__button:hover {
  border: 2px solid #333;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.call-content .content__button_color {
  color: #000;
  border: 2px solid #F13C6E;
}

.line {
  border-bottom: 1px solid #EFEFEF;
}

.category-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  min-height: 79px;
}
@media (max-width: 680px) {
  .category-content__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0px 59px;
    text-align: center;
  }
}
.category-content__item {
  font-size: 16px;
}
.category-content__link {
  color: #000;
}
.category-content__link:hover {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #F13C6E;
}

.armchair {
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 991.98px) {
  .armchair {
    background-size: cover;
  }
}

.armchair-content {
  padding: 173px 0px;
}
.armchair-content__title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
}
.armchair-content__text {
  font-size: 14px;
  line-height: 142%;
  color: #FFF;
  max-width: 308px;
  margin-bottom: 50px;
}
.armchair-content__button {
  color: #fff;
  padding: 13px 26px;
  border: 1px solid #fff;
  border-radius: 40px;
  max-width: 170px;
  width: 100%;
}
@media (max-width: 1400px) {
  .armchair-content {
    padding: 100px 0 150px;
  }
}
@media (max-width: 1150px) {
  .armchair-content {
    padding: 50px 0px;
  }
}
@media (max-width: 991.98px) {
  .armchair-content {
    padding: 30px 0px;
  }
}

.special {
  background-color: #EFEFEF;
  padding: 80px 0px 100px;
}
@media (max-width: 375px) {
  .special {
    padding: 50px 0px 50px;
  }
}

.special-content__title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  padding-bottom: 38px;
}
@media (max-width: 991.98px) {
  .special-content__title {
    text-align: center;
  }
}
.special-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 1150px) {
  .special-content__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .special-content__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
.special-content__item {
  background-color: #FFF;
  max-width: 255px;
  max-height: 363px;
  padding: 25px 30px;
  text-align: center;
}
@media (max-width: 991.98px) {
  .special-content__item {
    margin-bottom: 20px;
  }
}
.special-content__item-img {
  padding-bottom: 20px;
}
.special-content__item-img img {
  max-width: 100%;
}
.special-content__item-title {
  font-size: 14px;
  line-height: 140%;
  color: #333;
  padding-bottom: 20px;
}
.special-content__item-price {
  font-size: 21px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1.05px;
  padding-bottom: 20px;
}
.special-content__link {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding: 9px 40px;
  background-color: #F13C6E;
  border-radius: 30px;
}
.special-content__link:hover {
  color: #F13C6E;
  background-color: #EFEFEF;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}