.line {
    border-bottom: 1px solid #EFEFEF;
}

.category-content {

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        min-height: 79px;

        @media(max-width: 680px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
            margin: 20px 0px 59px;
            text-align: center;

        }
    }

    &__item {
        font-size: 16px;
    }

    &__link {
        color: #000;

        &:hover {
            transition: 0.2s ease-in-out;
            color: #F13C6E;
        }
    }
}

// Armchair

.armchair {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.armchair-content {
    padding: 192px 0px;

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 14px;
        line-height: 142%;
        color: #FFF;
        max-width: 308px;
        margin-bottom: 50px;
    }

    &__button {
        color: #fff;
        padding: 13px 26px;
        border: 1px solid #fff;
        border-radius: 40px;
        max-width: 170px;
        width: 100%;
    }
}