.line {
    border-bottom: 1px solid #EFEFEF;
}

.category-content {

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        min-height: 79px;

        @media(max-width: 680px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
            margin: 20px 0px 59px;
            text-align: center;

        }
    }

    &__item {
        font-size: 16px;
    }

    &__link {
        color: #000;

        &:hover {
            transition: 0.2s ease-in-out;
            color: #F13C6E;
        }
    }
}

// Armchair

.armchair {
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: 991.98px) {
        background-size: cover;
    }
}

.armchair-content {
    padding: 173px 0px;

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 14px;
        line-height: 142%;
        color: #FFF;
        max-width: 308px;
        margin-bottom: 50px;
    }

    &__button {
        color: #fff;
        padding: 13px 26px;
        border: 1px solid #fff;
        border-radius: 40px;
        max-width: 170px;
        width: 100%;
    }

    @media(max-width: 1400px) {
        padding: 100px 0 150px;
    }

    @media(max-width: 1150px) {
        padding: 50px 0px;
    }

    @media(max-width: 991.98px) {
        padding: 30px 0px;
    }

}

// Special

.special {
    background-color: #EFEFEF;
    padding: 80px 0px 100px;

    @media (max-width: 375px) {
        padding: 50px 0px 50px;
    }
}

.special-content {

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        padding-bottom: 38px;

        @media (max-width: 991.98px) {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;

        @media (max-width: 1150px) {
            column-gap: 20px;
        }

        @media (max-width: 991.98px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 540px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        display: block;
        background-color: #FFF;
        max-width: 255px;
        max-height: 363px;
        padding: 25px 30px;
        text-align: center;

        @media (max-width: 991.98px) {
            margin-bottom: 20px;
            max-width: none;
        }

        @media (max-width: 540px) {
            margin-bottom: 20px;
            max-width: none;
        }
    }

    &__item-img {
        padding-bottom: 20px;

        img {
            max-width: 100%;
        }
    }

    &__item-title {
        font-size: 14px;
        line-height: 140%;
        color: #333;
        padding-bottom: 20px;
    }

    &__item-price {
        font-size: 21px;
        font-weight: 500;
        color: #000;
        letter-spacing: 1.05px;
        padding-bottom: 20px;
    }

    &__link {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        padding: 9px 40px;
        background-color: #F13C6E;
        border-radius: 30px;

        &:hover {
            color: #F13C6E;
            background-color: #EFEFEF;
            transition: all 0.2s ease-in-out;
        }
    }
}

// Advertising

.advertising {
    background-color: #EFEFEF;
    padding-bottom: 100px;

    @media (max-width: 767.98px) {
        padding-bottom: 50px;
    }
}

.advertising-content {
    
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;

        @media (max-width: 991.98px) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        column-gap: 84px;
        background-color: #F13C6E;
        padding: 35px 45px 35px 40px;
        max-width: 538px;
        max-height: 212px;
        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 991.98px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767.98px) {
            column-gap: 30px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        padding-bottom: 25px;

        @media (max-width: 767.98px) {
            padding-bottom: 15px;
        }
    }

    &__text {
        line-height: 140%;
        color: #FFF;
        padding-bottom: 25px;

        @media (max-width: 767.98px) {
            padding-bottom: 15px;
        }
    }

    &__email {
        padding: 9px 25px;
        background-color: #FFF;
        color: #c4c4c4;
        max-width: 225px;
        border-radius: 30px;
    }

    &__img {
        img {
            max-width: 100%;

            @media (max-width: 375px) {
                width: 82px;
                height: 82px;
            }
        }
    }

    &__button {
        display: inline-block;
        color: #fff;
        padding: 9px 29px;
        border: 2px solid #FFF;
        border-radius: 30px;
        max-width: 175px;
        width: 100%;
    }
}

// Logo

.logo {
    background-color: #EFEFEF;
    padding-bottom: 80px;
}
.logo-content {

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 767.98px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        @media (max-width: 460px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }


    }

    &__image {
        background-color: #FFF;
        padding: 35px 70px;
        border-right: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;

        img {
            max-width: 100%;
        }
    }
}